<%- include('../partials/header') %>
<%- include('../partials/menu') %>

<br>
<div class="container">
    <table class="table table-bordered" id="reviews_table">
        <tr noborder>
            <th class="text-center" colspan="3">Book Reviews</th>
        </tr>
        <tr>
            <th>Book</th>
            <th>Review</th>
            <th>Review Date</th>
        </tr>
        <%
        if (results) {
            var rows = '';
            results.forEach(function(item){
                rows += '<tr><td>'+item.book_title+'</td><td>'+item.review+'</td><td>'+item.review_date+'</td></tr>';
            }); %>
            <%- rows %>
        <% } %>
    </table>
</div>

<%- include('../partials/footer') %>