<p>HELLO</p>
<!-- <%
    if (results) {
        var resultCards = '';
        results.forEach(function(item){
            resultCards += `<div class="card"><p>${item.title}</p>`;
            resultCards += `<p>${item.author}</p>`;
            resultCards += "</div>";
        }); %>
        <%- resultCards %>
    <% } %> -->